body{
    margin: 0;
    background-color: orangered;
    font-family: 'Calibri';
    font-size: 20px;
    line-height: 30px;
}

h1, h2{
    font-family: 'Broadway', 'Arial Black';
}
header{
    background-color: orange;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

h1{
    color: rebeccapurple;
    font-size: 70px;
    margin-top: 0px;
}

img{
    border-radius: 200px;
    border: 20px solid darkviolet;
}



main img{
    max-width: 90%;
    border: 20px solid darkviolet;
}

h2{
    font-size: 40px;
    color: purple;
}

a{
    color: darkmagenta
}
a:hover{
    color:black;
    background-color: gold;
}
ol{
    font-size: 25px;
    font-style: bold;
}



p.caption{
    color: white;
    font-size: 15px;
    font-style: italic;
    margin: 0px;
}